*{
	box-sizing: border-box;
}

html{
	font-family: 'Mukta', sans-serif;
}
body {
			margin: 0;
  			padding: 0;
  			font-family: "montserrat";
  			background-image: linear-gradient(125deg,#2c3e50,#27ae60,#2980b9,#e74c3c,#8e44ad);
  			background-size: 400%;
  			animation: bganimation 15s infinite;
}
@keyframes bganimation {
  		0%{
    		background-position: 0% 50%;
  		}
  		50%{
    		background-position: 100% 50%;
  		}
  		100%{
    		background-position: 0% 50%;
  		}
	}

.lateral {
	position: fixed;
    padding: 1em;
    top: 0;
    bottom: 0;
    left: 0;
    width: 350px;
	background: #45484d;
	background: -moz-linear-gradient(-45deg,  #45484d 0%, #000000 100%);
	background: -webkit-linear-gradient(-45deg,  #45484d 0%,#000000 100%);
	background: linear-gradient(135deg,  #45484d 0%,#000000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=1 );
}
.proyectos{
    display: table;
    margin-left: 350px;
    padding: 1em;
}

.arrow {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	width: 100%;
}

.perfil__circulo{
	border-radius: 50%;
    height: 50px;
    margin: 0;
    overflow: hidden;
    width: 50px;
}

.perfil{
	display: flex;
	width: 100%;
	height: 30%;
	flex-direction: row;
}

.perfil__foto{
	width: 100%;
}

.perfil__nombres {
	color: #fff;
	font-size: 20px;
	margin-left: 0.5em;
	width: 250px;
}

.perfil__nombres, .perfil__circulo{
	display: inline-block;
	vertical-align: middle;
}

.informacion{
	color: #fff;
	position: absolute;
    bottom: 1em;
}

.informacion__titulo {
	font-size: 18px;

}

.proyecto{
	display: table-cell;
    padding: 1em;
    width: 50%;
}

.proyecto__imagen{
	width: 100%;
}

@media screen and (max-width:500px) {

  
   .lateral{
       width: 100%;
       height: auto;
        position: relative;
   }
   .informacion{
       position: relative;
   }
  
    .proyectos{
      margin-left: 0;
        width: 100%;
    }
    
   
}
@media screen and (max-width:400px) {

  
    .lateral{
        width: 100%;
        height: auto;
         position: relative;
    }
    .perfil_nombres{
        position: relative;
    }
    .informacion{
        position: relative;
    }
   
     .proyectos{
       margin-left: 0;
         width: 100%;
     }
     
     .proyecto{
         width: 100%;
         display: block;
     }
    
 }


.habilidad {
	background-color: #18406E;
	color: #fff;
	display: inline-block;
	font-size: 12px;
	padding: 0.5em;
	text-transform: uppercase;
}

.habilidad-proyecto {
	background-color: #29597C;
	color: #fff;
	display: inline-block;
	font-size: 12px;
	padding: 0.5em;
	text-transform: uppercase;
}

.habilidades {
	padding: 0;
}
#links {
	color: #fff;
}

.proyecto__titulo{

	color: #fff;
	font-size: 19px;
}

.proyecto__descripcion{
	color: #fff;
}